{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="text-center mb-4">
      <h2>Daftar Lagu pada Album1</h2>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="text-align: center">Judul</th>
            <th style="text-align: center">Durasi</th>
            <th style="text-align: center">Total Play</th>
            <th style="text-align: center">Total Download</th>
            <th style="text-align: center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for song in songs %}
          <tr>
            <td
              style="
                max-width: 200px;
                word-wrap: break-word;
                text-align: center;
              "
            >
              {{ song.judul_konten }}
            </td>
            <td style="text-align: center">{{ song.durasi_konten }} menit</td>
            <td style="text-align: center">{{ song.total_play_song }}</td>
            <td style="text-align: center">{{ song.total_download_song }}</td>
            <td style="text-align: center">
              <div class="button-group" style="padding: 10px">
                <a
                  href="{{ song.id_konten }}"
                  class="btn btn-info btn-sm"
                  style="width: 100%"
                  >Lihat Detail</a
                >
              </div>
              <div class="button-group" style="padding: 10px">
                <a
                  href="{{ song.id_konten }}/delete"
                  class="btn btn-danger btn-sm"
                  style="width: 100%"
                  >Hapus</a
                >
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
