{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="text-center mb-4">
      <h2>Daftar Lagu pada Album1</h2>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="text-align: center">Judul</th>
            <th style="text-align: center">Durasi</th>
            <th style="text-align: center">Total Play</th>
            <th style="text-align: center">Total Download</th>
            <th style="text-align: center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td
              style="
                max-width: 200px;
                word-wrap: break-word;
                text-align: center;
              "
            >
              Lagu1
            </td>
            <td style="text-align: center">2 menit</td>
            <td style="text-align: center">3</td>
            <td style="text-align: center">0</td>
            <td style="text-align: center">
              <div class="button-group" style="padding: 10px">
                <a
                  href="/song/{{ songs.0.id_konten }}"
                  class="btn btn-info btn-sm"
                  style="width: 100%"
                  >Lihat Detail</a
                >
              </div>
              <div class="button-group" style="padding: 10px">
                <a
                  href="{{ album.id }}/delete-song/{{ songs.0.id }}"
                  class="btn btn-danger btn-sm"
                  style="width: 100%"
                  >Hapus</a
                >
              </div>
            </td>
          </tr>
          <tr>
            <td
              style="
                max-width: 200px;
                word-wrap: break-word;
                text-align: center;
              "
            >
              Lagu2
            </td>
            <td style="text-align: center">3 menit</td>
            <td style="text-align: center">2</td>
            <td style="text-align: center">2</td>
            <td style="text-align: center">
              <div class="button-group" style="padding: 10px">
                <a
                  href="/song/{{ songs.0.id_konten }}"
                  class="btn btn-info btn-sm"
                  style="width: 100%"
                  >Lihat Detail</a
                >
              </div>
              <div class="button-group" style="padding: 10px">
                <a
                  href="{{ album.id }}/delete-song/{{ songs.0.id }}"
                  class="btn btn-danger btn-sm"
                  style="width: 100%"
                  >Hapus</a
                >
              </div>
            </td>
          </tr>
          <tr>
            <td
              style="
                max-width: 200px;
                word-wrap: break-word;
                text-align: center;
              "
            >
              ...
            </td>
            <td style="text-align: center"></td>
            <td style="text-align: center">...</td>
            <td style="text-align: center">...</td>
            <td style="text-align: center">...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
