{% extends "base.html" %}

{% block content %}
<style>
    /* * {
        border: 1px solid red;
    } */
</style>

<div class="container-fluid d-flex">
    <div class="flex-grow-1"></div>
    <div style="flex-grow: 2;">
        <form method="POST" class="border border-dark p-2 mt-3 mb-3 d-flex flex-column gap-5">
            {% csrf_token %}
            <h2 class="text-center m-0">CREATE ALBUM</h2>
            <div class="d-flex flex-column gap-4">
                <div class="d-flex gap-2">
                    <label for="judul">Judul:</label>
                    <input type="text" id="judul" name="judul" class="form-control" required>
                </div>
                <div class="d-flex gap-2">
                    <label for="label">Label:</label>
                    <select id="label" name="label" class="form-select">
                        <option>Select a label</option>
                        {% for label in labels %}
                        <option value="{{ label.id }}">{{ label.nama }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="d-flex pb-2">
                <div class="flex-grow-1"></div>
                <button type="submit" class="btn btn-primary align-self-center">SUBMIT</button>
                <div class="flex-grow-1"></div>
            </div>
        </form>

        <table class="table table-bordered border-dark">
            <tr>
                <th colspan="5">
                    <h2 class="text-center m-0 p-2">LIST ALBUM</h2>
                </th>
            </tr>
            <tr>
                <th>Judul</th>
                <th>Label</th>
                <th>Jumlah Lagu</th>
                <th>Total Durasi</th>
                <th>Action</th>
            </tr>
            {% for album in albums %}
            <tr>
                <td>{{ album.judul }}</td>
                <td>{{ album.nama }}</td>
                <td>{{ album.jumlah_lagu }}</td>
                <td>{{ album.total_durasi }}</td>
                <td>
                    <div class="d-flex flex-column">
                        <a href="{{ album.id }}/songs">
                            <button class="btn btn-primary">Lihat Daftar Lagu</button>
                        </a>
                        <a href="{{ album.id }}/add-song">
                            <button class="btn btn-success">Tambah Lagu</button>
                        </a>
                        <a href="/album/{{ album.id }}/delete">
                            <button class="btn btn-danger">Hapus</button>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="flex-grow-1"></div>
</div>
{% endblock content %}
