{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center mb-4">
          <h2>List Album</h2>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="text-align: center;">Judul</th>
                <th style="text-align: center;">Label</th>
                <th style="text-align: center;">Jumlah Lagu</th>
                <th style="text-align: center;">Total Durasi</th>
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="max-width: 200px; word-wrap: break-word;text-align: center;">
                    Album1
                </td>
                <td style="text-align: center;">LabelA</td>
                <td style="text-align: center;">0</td>
                <td style="text-align: center;">0 menit</td>
                <td style="text-align: center;">
                  <div class="button-group" style="padding: 10px;">
                    <a href="{{ albums.0.id }}/songs" class="btn btn-info btn-sm" style="width: 100%;">Lihat Daftar Lagu</a>
                  </div>
                  <div class="button-group" style="padding: 10px;">
                    <a href="/album/{{ albums.0.id }}/delete" class="btn btn-danger btn-sm" style="width: 100%;">Hapus</a>
                  </div>
                </td> 
              </tr>
              <tr>
                <td style="max-width: 200px; word-wrap: break-word;text-align: center;">
                    Album2
                </td>
                <td style="text-align: center;">LabelB</td>
                <td style="text-align: center;">2</td>
                <td style="text-align: center;">4 menit</td>
                <td style="text-align: center;">
                  <div class="button-group" style="padding: 10px;">
                    <a href="{{ albums.0.id }}/songs" class="btn btn-info btn-sm" style="width: 100%;">Lihat Daftar Lagu</a>
                  </div>
                  <div class="button-group" style="padding: 10px;">
                    <a href="/album/{{ albums.0.id }}/delete" class="btn btn-danger btn-sm" style="width: 100%;">Hapus</a>
                  </div>
                </td> 
              </tr>
              <tr>
                <td style="max-width: 200px; word-wrap: break-word;text-align: center;">
                    ...
                </td>
                <td style="text-align: center;">...</td>
                <td style="text-align: center;">...</td>
                <td style="text-align: center;">...</td>
                <td style="text-align: center;">...</td> 
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    </div>
  </div>
{% endblock content %}
