{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        {% if message_failed != None %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Error! </strong>{{message_failed}}
        </div>
        {% endif %}
        {% if message_success != None %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Berhasil! </strong>{{message_success}}
        </div>
        {% endif %}
        <div class="card">
          <div class="card-body">
            <form method="post">
              <div class="mb-3">
                <label for="judul" class="form-label">Judul: {{judul_lagu}}</label>
              </div>
              <div class="mb-3">
                <label for="artist" class="form-label">Artist: {{artis}}</label>
              </div>
              <div class="mb-3">
                <label for="dropdownPlaylist" class="form-label">Playlist:</label>
                <select class="form-select" id="dropdownPlaylist" name="dropdownPlaylist">
                  <!-- opsi playlist-->
                  <option selected disabled>Pilih playlist...</option>
                  {% for judul, idplaylist in playlist %}
                  <option value="{{ idplaylist }}">{{ judul }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Tambah</button>
                <a href="{% url 'playlist:user_playlist' %}" class="btn btn-secondary">Kembali</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-sZzKT5LPGm7FtX4tvGJbcq5Vq7UOg1JzA2EjHOtDZMSxNo5iJd7U6y0Bf9Jk2V+h" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
