{% extends 'basePlaylist.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Song Detail</h2>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <td class="fw">Judul</td>
                <td class="text-start">{{ judul_lagu }}</td>
              </tr>
              <tr>
                <td class="fw">Genre(s)</td>
                <td class="text-start">{% for item in genre %}
                  <p>{{item}}</p>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <td class="fw">Artist</td>
                <td class="text-start">{{ nama }}
                </td>
              </tr>
              <tr>
                <td class="fw">Songwriter(s)</td>
                <td class="text-start"> {{song_writer}}
                </td>
              </tr>
              <tr>
                <td class="fw">Durasi</td>
                <td class="text-start"> {{ durasi }}</td>
              </tr>
              <tr>
                <td class="fw">Tanggal Rilis</td>
                <td class="text-start"> {{ tanggal_rilis }}</td>
              </tr>
              <tr>
                <td class="fw">Tahun</td>
                <td class="text-start"> {{ tahun }}</td>
              </tr>
              <tr>
                <td class="fw">Total Play</td>
                <td class="text-start"> {{ total_play }}</td>
              </tr>
              <tr>
                <td class="fw">Total Downloads</td>
                <td class="text-start"> {{ total_download }}</td>
              </tr>
              <tr>
                <td class="fw">Album</td>
                <td class="text-start"> {{ album }}</td>
              </tr>
            </tbody>
          </table>
          <form action="{% url 'playlist:user_song_detail' id_song id_playlist %}" method="post" id="playForm">
            <div class="m-3">
              <input type="range" class="form-range w-100" id="progress" min="0" max="100">
            </div>
            <div class="text-center">
              <button class="btn btn-success" onclick="submitForm()" type="button">Play</button>
              <a href="{% url 'playlist:add_song_spesific_playlist' id_song %}" class="btn btn-secondary">Add to Playlist</a>
              {% if is_premium == True %}
              <a href="{% url 'playlist:user_download' id_song %}" class="btn btn-secondary">Download</a>
              {% endif %}
              <a href="{% url 'playlist:user_playlist' %}" class="btn btn-secondary">Kembali</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal add song -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="hapusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Berhasil menambahkan Lagu dengan judul 'Song1' ke 'Playlist1'!
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <a href="{% url 'playlist:user_playlist_detail' id_playlist %}" class="btn btn-primary">playlist</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">kembali</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Download -->
<div class="modal fade" id="DownloadModal" tabindex="-1" aria-labelledby="hapusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Berhasil mengunduh Lagu dengan judul 'Song1'!
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary">List Download</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">kembali</button>
      </div>
    </div>
  </div>
</div>

<script>
  function submitForm() {
    var progress = document.getElementById("progress").value
    if (progress >= 70) {
      document.getElementById("playForm").submit();
    }
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}