{% extends 'basePlaylist.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-header">
            <h2 class="text-center">Ubah Playlist</h2>
        </div>
        <div class="card">
          <div class="card-body">
            {% csrf_token %}
            <form  method = 'POST'>
              <div class="mb-3">
                <label for="judul" class="form-label">Judul</label>
                <input type="text" class="form-control" id="judul" name="judul" value="{{playlist.judul}}">
              </div>
              <div class="mb-3">
                <label for="deskripsi" class="form-label">Deskripsi</label>
                <textarea class="form-control" id="deskripsi" name="deskripsi" rows="3" >{{playlist.deskripsi}}</textarea>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary w-50">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-sZzKT5LPGm7FtX4tvGJbcq5Vq7UOg1JzA2EjHOtDZMSxNo5iJd7U6y0Bf9Jk2V+h" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}