{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-center">User Playlist Detail</h2>
        <div class="card">
          <div class="card-body">
            <table class="table">
              <tbody>
                  <tr>
                      <td>Judul</td>
                      <td class="text-start">: {{ playlist.judul }}</td>
                  </tr>
                  <tr>
                      <td>Pembuat</td>
                      <td class="text-start">: {{ playlist.email_pembuat }}</td>
                  </tr>
                  <tr>
                      <td>Jumlah Lagu</td>
                      <td class="text-start">: {{ playlist.jumlah_lagu }}</td>
                  </tr>
                  <tr>
                      <td>Total Durasi</td>
                      <td class="text-start">: {{ playlist.total_durasi }}</td>
                  </tr>
                  <tr>
                      <td>Tanggal Dibuat</td>
                      <td class="text-start">: {{ playlist.tanggal_dibuat }}</td>
                  </tr>
                  <tr>
                      <td>Deskripsi</td>
                      <td class="text-start">: {{ playlist.deskripsi }}</td>
                  </tr>
              </tbody>
          </table>                    
            <div class="text-center">
              <button class="btn btn-primary">Shuffle Play</button>
              <a href="{% url 'playlist:user_playlist' %}"  class="btn btn-secondary">Kembali</a>
            </div>
            <!-- Form Daftar Lagu -->
            <div class="row justify-content-center mt-5">
                <div class="col-md-8">
                    <div>
                        <h3 class="text-center">Daftar Lagu</h3>
                    </div>
                    <div class="card">
                        <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Judul Lagu</th>
                                <th style="text-align: center;">Oleh</th>
                                <th style="text-align: center;">Durasi</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for song in songs %}
                            <tr>
                                <td style="max-width: 200px; word-wrap: break-word;text-align: center;">{{ song.judul_lagu }}</td>
                                <td style="max-width: 100px; text-align: center; word-wrap: break-word;">{{ song.artis }}</td>
                                <td style="max-width: 100px; text-align: center; word-wrap: break-word;">{{ song.durasi }}</td>
                                <td style="max-width: 100px; text-align: center; word-wrap: break-word;">

                                <div class="button-group" style="padding: 10px;">
                                  <a href="{% url 'playlist:user_song_detail' song.id_song %}" class="btn btn-info btn-sm" style="width: 70px;">Lihat</a>
                                </div>
                                <div class="button-group" style="padding: 10px;">
                                  <button class="btn btn-success btn-sm" style="width: 70px;">Play</button>
                                </div>

                                {% if request.user.email == playlist.email %}
                                <div class="button-group" style="padding: 10px;">
                                  <a href="{% url 'playlist:user_delete_song' song.id_song %}" class="btn btn-danger btn-sm" style="width: 70px;">Hapus</a>
                                </div>
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% if request.user.email == playlist.email %}
                        <div class="text-center">
                          <a href="{% url 'playlist:user_add_song' playlist.id_playlist %}" class="btn btn-primary w-100">Tambah Lagu</a>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-sZzKT5LPGm7FtX4tvGJbcq5Vq7UOg1JzA2EjHOtDZMSxNo5iJd7U6y0Bf9Jk2V+h" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  {% endblock %}
