{% extends 'basePlaylist.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center mb-4">
          <h2>User Playlist</h2>
        </div>
        <div class="table-responsive">
          <!-- Tabel Playlist -->
          {%if data_playlist%}
          <table class="table">
            <thead>
              <tr>
                <th style="text-align: center;">Judul</th>
                <th style="text-align: center;">Jumlah Lagu</th>
                <th style="text-align: center;">Total Durasi</th>
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- Contoh isi tabel -->
              {%for playlist in data_playlist%}
              <tr>
                <td style="max-width: 200px; word-wrap: break-word;text-align: center;">
                  {{playlist.judul}}
                </td>
                <td style="text-align: center;">{{playlist.jumlah_lagu}}</td>
                <td style="text-align: center;">{{playlist.total_durasi}}</td>
                <td style="text-align: center;">
                  <div class="button-group" style="padding: 10px;">
                    <a href="{% url 'playlist:user_playlist_detail' playlist.id_user_playlist %}" class="btn btn-info btn-sm" style="width: 100%;">Detail</a>
                  </div>
                  <div class="button-group" style="padding: 10px;">
                    <a href="{% url 'playlist:user_playlist_edit' playlist.id_user_playlist %}" class= "btn btn-warning btn-sm" style="width: 100%;">Ubah</a>
                  </div>
                  {% if email == playlist.email_pembuat %}
                  <div class="button-group" style="padding: 10px;">
                    <a href="{% url 'playlist:user_playlist_delete' playlist.id_user_playlist %}" class="btn btn-danger btn-sm" style="width: 100%;">Hapus</a>
                  </div>
                  {% endif %}
                </td> 
              </tr>
              {%endfor%}
            </tbody>
          </table>
          {%else%}
          <p class="text-center">Anda belum memiliki playlist</p>
          {%endif%}
        
          {% if email == playlist.email_pembuat %}
        </div>
        <a href="{% url 'playlist:add_playlist' %}" class="btn btn-primary w-100">Tambah Playlist</a>
        {% endif %}
    </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-sZzKT5LPGm7Ft" ></script>
{% endblock content %}

