{% extends 'base.html' %}
{% block content %}
  <div class="container my-4">
    <!-- Create Podcast Form wrapped in a Bootstrap card -->
    <div class="card mb-5">
      <div class="card-header">
        <h2>CREATE PODCAST</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="podcastTitle" class="form-label">Judul:</label>
            <input
              type="text"
              class="form-control"
              id="podcastTitle"
              placeholder="isi..."
            />
          </div>
          <div class="mb-3">
            <label for="podcastGenre" class="form-label">Genre:</label>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuGenre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose genre
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuGenre">
                <a class="dropdown-item" href="#">
                  Genre1
                </a>
                <a class="dropdown-item" href="#">
                  Genre2
                </a>
                <a class="dropdown-item" href="#">
                  Genre3
                </a>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="podcastDuration" class="form-label">Durasi:</label>
            <input
              type="text"
              class="form-control"
              id="podcastDuration"
              placeholder="isi..."
            />
          </div>
          <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
      </div>
    </div>

    <div class="mb-5">
      <h2 class="mb-3">LIST PODCAST</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Judul</th>
            <th>Jumlah Episode</th>
            <th>Total Durasi</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Podcast1</td>
            <td>0</td>
            <td>0 menit</td>
            <td>
              <a href="../create_episode" class="btn btn-link">[Lihat Daftar Episode]</a>
              <a href="../create_episode" class="btn btn-link">[Tambah Episode]</a>
              <a href="#" class="btn btn-link">[Hapus]</a>
            </td>
          </tr>
          <!-- Additional rows for other podcasts -->
        </tbody>
      </table>
    </div>
{% endblock %}
