{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table table-bordered border-dark mt-3 mx-2">
        <thead>
            <tr>
                <th colspan="5">
                    <h2 class="text-center m-0 p-2">LIST ROYALTI</h2>
                </th>
            </tr>
            <tr>
                <th>Judul Lagu</th>
                <th>Judul Album</th>
                <th>Total Play</th>
                <th>Total Download</th>
                <th>Total Royalti Didapat</th>
            </tr>
        </thead>
        <tbody>
            {% for row in royalti_list %}
            <tr>
                <td>{{ row.judul_konten }}</td>
                <td>{{ row.judul_album }}</td>
                <td>{{ row.total_play_song }}</td>
                <td>{{ row.total_download_song }}</td>
                <td>{{ row.jumlah_royalti }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
