{% extends 'base.html' %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="#">login</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="#">Logout</a>
</li>                    
{% endblock %}

{% block content %}
<div class="card text-center">
              <div class="card-body text-center">
                  <h5 class="card-title text-center">User Information Dashboard</h5>
                  <h6 class="card-subtitle mb-2 text-center text-muted">John Doe</h6>
                  <p class="card-text text-center">john.doe@example.com</p>
          </div>
      </div>
  </div>
</div>



{% endblock %}






