{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <h1 class="m-0 text-center">ATTN: {{ error }}</h1>
    </div>
    {% endif %}
    <div class="text-center">
        <h2 class="font-weight-bold">Register</h2>
    </div>
    <div class="card w-50 mx-auto">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="birth_place">Place of Birth</label>
                    <input type="text" class="form-control" id="birth_place" name="birth_place" placeholder="Enter place of birth">
                </div>
                <div class="form-group">
                    <label for="birth_date">Date of Birth</label>
                    <input type="date" class="form-control" id="birth_date" name="birth_date" placeholder="Enter date of birth">
                </div>
                <div class="form-group">
                    <label for="city">City of Origin</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="Enter city of origin">
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="podcaster" id="podcaster" name="podcaster">
                        <label class="form-check-label" for="podcaster">Podcaster</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="artist" id="artist" name="artist">
                        <label class="form-check-label" for="artist">Artist</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="songwriter" id="songwriter" name="songwriter">
                        <label class="form-check-label" for="songwriter">Songwriter</label>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary btn-block">Register</button>
               
                <!-- <a href="{% url 'main:login' %}" class="btn btn-primary btn-block">Login</a> -->
            </form>
        </div>
    </div>
</div>
{% endblock %}
